Repository dynatrace-oss/honeyquest: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, prettier, eslint

Path conditions:
  pylint: any of: ^src\/honeyback\/.*\.py$
  prettier: any of: ^src\/honeyfront\/
  eslint: any of: ^src\/honeyfront\/

TR-785 Remove Jenkinsfile and reference container image from GHCR
  Jenkinsfile
  README.md
  pod-definition.yaml
Due: none

TR-3814 Host querydb.tar.gz in the repository
  .github/hostedfiles/querydb.gz
  README.md
  docs/DEPLOYMENT.md
Due: none

TR-3756 Integrate Honeypatch tool, adapt documentation
  .gitignore
  .pre-commit-config.yaml
  .vscode/settings.json
  README.md
  docs/HONEYPATCH.md
  docs/examples/http-response.txt
  querydb/honeyaml/httpheader.yml
  src/honeyback/honeyquest/__main__.py
  src/honeyback/poetry.lock
  src/honeyback/pyproject.toml
  src/honeypatch/.gitignore
  src/honeypatch/Dockerfile
  src/honeypatch/entrypoint.sh
  src/honeypatch/honeypatch/__init__.py
  src/honeypatch/honeypatch/__main__.py
  src/honeypatch/honeypatch/filters/__init__.py
  src/honeypatch/honeypatch/filters/base.py
  src/honeypatch/honeypatch/filters/factory.py
  src/honeypatch/honeypatch/filters/httpheader.py
  src/honeypatch/honeypatch/filters/jsonreponse.py
  src/honeypatch/honeypatch/injection.py
  src/honeypatch/honeypatch/models/__init__.py
  src/honeypatch/honeypatch/models/base.py
  src/honeypatch/honeypatch/models/httpheader.py
  src/honeypatch/honeypatch/models/jsonresponse.py
  src/honeypatch/honeypatch/pool.py
  src/honeypatch/poetry.lock
  src/honeypatch/pyproject.toml
  src/honeypatch/tests/__init__.py
  src/honeypatch/tests/test_httpheader.py
  src/honeypatch/tox.ini
Due: pylint

TR-3756 Fix poetry.lock
  src/honeyback/poetry.lock
  src/honeyback/pyproject.toml
Due: none

TR-3756 Reference honeypatch documentation in README
  README.md
Due: none

TR-3756 Adapt GitHub action for Honeypatch hooks
  .github/workflows/build-honeyquest.yml
Due: none

TR-3832 Add note about image.build property in Copilot deployment
  docs/DEPLOYMENT.md
Due: none

TR-3832 Link public deployment of Honeyquest
  README.md
Due: none

TR-787 Rename querydb.gz to querydb.tar.gz
  .github/hostedfiles/querydb.tar.gz
Due: none

Fix minor pylint issues in honeyback
  src/honeyback/honeyquest/api/services/metadata.py
  src/honeypatch/honeypatch/__main__.py
Due: pylint

Bump various dependencies and base images
  Dockerfile
  src/honeyback/poetry.lock
  src/honeyback/pyproject.toml
  src/honeyfront/package-lock.json
  src/honeyfront/package.json
  src/honeypatch/Dockerfile
  src/honeypatch/poetry.lock
  src/honeypatch/pyproject.toml
Due: prettier, eslint

Do not alter previous license headers
  .pre-commit-config.yaml
Due: none

Put latest tag only on semver tags
  .github/workflows/build-honeyquest.yml
Due: none

Bump fastapi dependency in honeyback
  src/honeyback/poetry.lock
  src/honeyback/pyproject.toml
Due: none

Migrate pyproject.toml to Poetry 2.x format
  .pre-commit-config.yaml
  README.md
  src/honeyback/honeyquest/data/ops/visuals/answers.py
  src/honeyback/poetry.lock
  src/honeyback/pyproject.toml
  src/honeypatch/honeypatch/__main__.py
  src/honeypatch/poetry.lock
  src/honeypatch/pyproject.toml
Due: pylint

Bump dependencies in honeyfront and honeyback to resolve security alerts
  src/honeyback/poetry.lock
  src/honeyfront/package-lock.json
  src/honeyfront/package.json
Due: prettier, eslint

Pin rpy2 to 3.5.17 to avoid typing errors for now
  src/honeyback/poetry.lock
  src/honeyback/pyproject.toml
Due: none

Bump dependencies in honeyback to resolve some security alerts
  src/honeyback/poetry.lock
Due: none

Fix incompatible type for secret_key in SessionMiddleware
  src/honeyback/honeyquest/api/server.py
Due: pylint

Bump eslint-config-prettier to 9.1.2 in /src/honeyfront
  src/honeyfront/package-lock.json
  src/honeyfront/package.json
Due: prettier, eslint
